/* RESET STYLES */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

* {
  font-family: 'Merriweather', serif;
}

/************** STYLES **************/

/* Header and display */

body {
  background: rgb(48, 48, 48);
}

#content {
  width: 100%;
  margin: auto;
}

header {
  padding: 30px 0 30px 0;
  text-align: center;
  min-width: 320px;
}

h1 {
  padding-bottom: 14px;
  color: whitesmoke;
  font-size: 42px;
  width: 300px;
  margin: auto;
}

.new-task-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-task-button-div > input:first-of-type {
  margin-bottom: 8px;
}

.new-task-button-div > input {
  width: 95%;
}

.display {
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}

/*
@media only screen and (min-width: 601px) {
  #content {
    width: 601px;
  }
}

@media only screen and (min-width: 1024px) {
  #content {
    width: 1024px;
  }
}*/

/* New Task Display */

.new-task-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}


/* Task and project cards */

.project-card {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 30px;
  min-width: 320px;
}

.title-div {
  display: flex;
  flex-direction: column;
  padding: 16px 12px 16px 12px;
  background: rgba(153, 0, 0, 0.85);
  border-radius: 10px 10px 0 0;
  gap: 3px;
}

.title-close {
  display: flex;
}

.delete-button {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  flex-shrink: 0;
  background-image: url('./cross.svg');
  background-color: inherit;
  border: none;
  filter: invert(1);
  align-self: flex-start;
  margin-right: -6px;
  margin-left: 6px;
}

.task-title {
  flex-basis: 100%;
}
.project-card > .title-div {
  height: 300px;
}

.task-card > .title-div > input:not(.notes),
.attributes > input, .attributes > select,
.task-card > .title-div > select, .notes  {
  background: rgba(245, 245, 245, 0.9);
  color: black;
  border: 1px solid rgba(245, 245, 245, 0.4);
  
}

.attributes > input, .attributes > select, .title-div > input, .title-div > select {
  border-radius: 2px;
} 
.attributes > input:first-child, .title-div > input:first-child {
  border-radius: 4px 4px 1px 1px;
}

.attributes > select:last-child, .title-div > select:last-child {
  border-radius: 1px 1px 4px 4px;
}

.notes {
  background: whitesmoke;
}

.notes:focus-visible {
  outline: none;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 6px;
}

.project-card > .title-div > .notes {
  flex-basis: 180px;
  border-radius: 6px;
}

/*.project-card > .title-div > .notes:focus-visible {
  outline:1px solid rgba(245, 245, 245, 0.8)
}*/

.task-card > .notes {
  flex-basis: 180px;
  border-radius: 0 0 6px 6px;
}

.notes:hover, input:hover, select:hover {
  outline:1px solid rgba(245, 245, 245, 0.8);
}
  


select:hover {
  outline:1px solid rgba(245, 245, 245, 0.8);
}


.task-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 8px;
}

.inner-display {
  padding: 10px;
  background: rgba(245, 245, 245, 0.35);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.task-card:not(.project-card) {
  width: 320px;
}

@media only screen and (min-width: 601px) {
  .task-card:not(.project-card) {
    width: 400px;
  }
  
}

.incomplete-button {
  background-color: #80aa87!important ;
}

.completed-task {
  filter: grayscale(100%);
}