@import url("https://fonts.googleapis.com/css?family=Poppins:regular,bold&subset=latin,latin-ext");

/* RESET STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM STYLES */

.App {
  min-width: 360px;
  background: #fcf5c7;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4%;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 80px 40px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

h1 {
  color: rgb(36, 41, 47);

}

.header > h1 {
  font-size: 3.2rem;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 280px;
  height: 40px;
  margin-bottom: 8px;
  border: 1px solid #ffffffa6;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 1rem;
}

.complete-button {
  background-color: #adf7b6;
  color: black;

}

.task-card > .complete-button, .current-project > .complete-button {
  border-color: #24292fb3;
}
.new-project-button {
  background-color: #ffc09f;
  color: black;

}

.new-task-submit-button {
  background-color: #adf7b6;
  color: black;
}

.new-task-button {
  background-color: #adf7b6;
  color: black;
}

.new-task-display,
.new-project-display {
  display: flex;
  flex-direction: column;
}

.current-project,
.task-card {
  width: 280px;
}

.task-card,
.current-project,
.new-task-display,
.new-project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: none;
  height: 420px;
  background-color: #fafafa;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 20px;
  outline: 1px solid #fcf5c7;
  border: 2px solid #8b866a61;
}

.new-task-display,
.new-project-display {
  background-color: #a0ced9;
}

.close-button {
  width: 20px;
  height: 20px;
  align-self: flex-end;
  margin-right: -8px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.completed {
  background-color: #7c7c7c;
}

.task-card > input,
.task-card > select,
.task-card > textarea,
.current-project > input,
.current-project > select,
.current-project > textarea,
.new-project-display > input,
.new-project-display > select,
.new-project-display > textarea,
.new-task-display > input,
.new-task-display > select,
.new-task-display > textarea {
  width: 248px;
}

.new-task-display, .new-project-display {
  padding: 15px;
  height: 380px;
}

.new-task-display > h2, .new-project-display > h2 {
  align-self: flex-start;
}

.task-card > textarea,
.current-project > textarea {
  height: 150px;
}

.current-project > .current-project-title-close-container > h2 {
  font-size: 1.6rem;
  margin-left: -10px;
  color: rgb(36, 41, 47);
  text-decoration: underline #24292fb3;
}

.current-project-title-close-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.prio-0 {
  background-color: #adf7b6;
}

.prio-1 {
  background-color: #ffee93;
}

.prio-2 {
  background-color: #ffc09f;
}

h1 > a {
  text-decoration: none;
  color: rgb(36, 41, 47);
}

@media only screen and (min-width: 600px) {
  .App {
    min-width: 600px;
    align-items: flex-start;
  }

  .card-container-inner {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
} 