/* RESET STYLES */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

* {
  font-family: 'Merriweather', serif;
}


/* STYLES */

header {
  background: rgba(25, 0, 1, 0.2);
}

.tabs {
  padding: 0;
}

.tab {
  width: 50%;
  border: none;
}

.new-task-btn, .new-project-btn {
  width: 100%;
  border-radius: 0;
  border: none;
}

.display {
  display: flex;
  background-image: url("./bg.JPG");
  background: black url("./bg.JPG") no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.new-task-div {
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 6px;
  margin-top: 20px;
}

.new-task-div > input {
  width: 100%;
}

.new-task-div > div {
  width: 100%;
}

.new-task-div > div > label, .new-task-div > div > select {
  width: 100%;
}

.task-card {
  width: 300px;
  height: 400px;
  position: relative;
  background: rgba(240, 240, 240, 0.8);
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 12px 12px 10px 10px;
}

.task-card:first-of-type {
  margin-top: 40px;
  
}
.task-card > p {
  margin-left: 20px;
  margin-top: 8px;
}

.task-card > input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
  height: 50%;
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 20px 20px;
}

.title-div {
  padding: 16px 0 4px 12px;
  border-radius: 10px 10px 0 0;
  height: 50%;
  background-color: black;
  color: whitesmoke;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 6px;
  padding: 10px 16px 10px 16px;;
}

.title-div > h4 {
  font-size: 1.2rem;
  font-style: bold;
}

.title-div > div > label, .title-div > div > select {
  width: 100%;
}

.title-div > input {
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;
  color: whitesmoke;
  margin-bottom: -20px;
}

.title-div > input:nth-of-type(2) {
  font-size: 1.1rem;
  margin-bottom: -30px;
}

.title-div > div:first-of-type {
  margin-bottom: -30px;
}

.title-div > div:last-of-type {
  margin-bottom: 40px;
}

label {
	width: 50px;
	display: inline-block;
}

.prio-urgent {
  background-color: #820600;
}

.prio-norm {
  background-color: #11323D;
}

.prio-low {
  background-color: #50754d;
}

.input-field {
  height: 30px;
}