/* RESET STYLES */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

* {
  font-family: 'Merriweather', serif;
}


/* STYLES */

header {
  background: rgba(25, 0, 1, 0.2);
}

.tabs {
  padding: 0;
}

.tab {
  width: 50%;
  border: none;
}

.new-task-btn, .new-project-btn {
  width: 100%;
  border-radius: 0;
  border: none;
}

.display {
  display: flex;
  background-image: url("./bg.JPG");
  background: black url("./bg.JPG") no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.inner-display {
  display: flex;
}


.new-task-div {
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 6px;
  margin-top: 20px;
}

.new-task-div > input {
  width: 100%;
}

.new-task-div > div {
  width: 100%;
}

.new-task-div > div > label, .new-task-div > div > select {
  width: 100%;
}

.project-card {
  align-self: flex-start;
}


.task-card {
  width: 300px;
  height: 400px;
  position: relative;
  background: rgba(240, 240, 240, 0.8);
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 12px 12px 10px 10px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.task-card:first-of-type {
  margin-top: 40px;
  
}

.task-title {
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  color: whitesmoke;
  width: 80%;
}

.title-close {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2px;
}

.close-btn {
  border: none;
  filter: invert(100%);
  background: url('./close.svg');
  height: 24px;
  width: 24px;
  margin-top: 6px;
}

.task-due {
  font-size: 1.1rem;
  margin-bottom: 4px;
  background: inherit;
  color: whitesmoke;
  font-weight: bold;
  border: none;
  outline: none;
}

.task-card > input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
  height: 50%;
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 20px 20px;
}

.title-div {
  border-radius: 10px 10px 0 0;
  background-color: black;
  color: whitesmoke;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 10px 16px 10px 16px;
}

.title-div > div > label, .title-div > div > select {
  width: 100%;
  margin-bottom: 4px;
}

.task-notes {
  flex-basis: 60%;
}

.inner-display {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 80%;
  height: auto;
}

.project-card > .title-div {
  max-width: none;
}

.project-tasks {
  display: flex;
  flex-wrap: wrap;
}

.completed {
  opacity: 0.5;
}

.completed-button {
  opacity: 0.6;
}


/*Color classes for task priorities*/
.prio-urgent {
  background-color: #820600;
}

.prio-norm {
  background-color: #11323D;
}

.prio-low {
  background-color: #50754d;
}